---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>adraw</title>
    <script>
      const matchDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
      const updateTheme = () => {
        const theme = localStorage.theme || "system";
        document.documentElement.classList.toggle(
          "dark",
          theme === "dark" || (theme === "system" && matchDarkScheme.matches)
        );
      };
      updateTheme();
      matchDarkScheme.addEventListener("change", updateTheme);
      window.addEventListener("storage", updateTheme);
    </script>
	</head>
	<body>
    <div class="flex flex-col min-h-dvh">
      <slot />
    </div>
	</body>
</html>
