---
import Logo from "../assets/logo.svg"
import { LaptopMinimal, Moon, Sun } from "@lucide/astro"

const themes = [
  { icon: LaptopMinimal, label: "System", name: "system" },
  { icon: Sun, label: "Light", name: "light" },
  { icon: Moon, label: "Dark", name: "dark" },
]
---

<div class="flex items-center justify-between px-6 h-18">
  <a class="flex gap-6 items-center" href="/">
    <Logo class="size-10" />
    <h1>adraw</h1>
  </a>
  <ul class="flex gap-6 items-center">
    <li><a href="/docs/core">Docs</a></li>
    <li><a href="/examples">Examples</a></li>
    <li class="flex">
      {themes.map((theme) => (
        <label class="cursor-pointer hover:bg-primary/10 has-checked:bg-primary has-checked:text-background p-2 rounded-md" title={theme.label}>
          <input
            type="radio"
            class="sr-only"
            name="theme"
            value={theme.name}
          />
          <theme.icon size={16} />
        </label>
      ))}
    </li>
  </ul>
</div>

<script>
  import { updateTheme } from "@/utils/theme";

  document.addEventListener('DOMContentLoaded', () => {
    const theme = localStorage.theme || "system";
    document.querySelectorAll<HTMLInputElement>("input[name=theme]").forEach((el) => {
      const { value } = el;
      if (theme === value) {el.setAttribute("checked", "");}
      el.addEventListener("change", () => {
        localStorage.theme = value;
        updateTheme();
      });
    });
  })
</script>