---
import Logo from "../assets/logo.svg"
---

<div class="flex justify-between py-4 px-6">
  <div class="flex gap-6 items-center">
    <Logo class="size-10" />
    <h1>adraw</h1>
  </div>
  <ul class="flex gap-6 items-center">
    <li><a href="/docs">Docs</a></li>
    <li><a href="/examples">Examples</a></li>
  </ul>
</div>