---
import Canvas from "./Canvas.astro";
---

<div class="p-6 flex-1 grid grid-cols-1 lg:grid-cols-[24rem_minmax(0,1fr)] items-center justify-center gap-8">
  <div class="flex flex-col items-center lg:items-end justify-center gap-8">
    <h2 class="text-center lg:text-right text-4xl text-balance">A framework-agnostic infinity canvas</h2>
    <a
      class="flex flex-col gap-2 justify-center h-12 rounded-md px-5 bg-primary text-primary-foreground font-semibold"
      href="/docs/core">Getting started</a
    >
  </div>
  <div class="w-full">
    <Canvas class="rounded-xl overflow-hidden shadow-md" style="height: calc(100dvh - 7.5rem);" />
  </div>
</div>
