---
import Canvas from "./Canvas.astro";
---

<div class="p-4 flex-1 flex flex-col items-center justify-center gap-8">
  <h2 class="text-center text-4xl">A framework-agnostic infinity canvas</h2>
  <a
    class="flex flex-col gap-2 justify-center h-12 rounded-md px-5 bg-primary text-primary-foreground font-semibold"
    href="/docs/core">Getting started</a
  >
  <Canvas />
</div>
